body {
    background-color: lightgray;
}

.togglercolor {
    color: white;
}

.navbar-item-custom {
    color: black;
}

.headbox-color, .footer-color{
    color: black;
}

#headerName {
    background-color: black;
    color: white;

}
.ass {
    z-index: 1;
}

.caption-edit {
    background-color: white;
    color: black;
    opacity: 0.7;
    box-shadow: -1px -1px 0 #100C08, 1px -1px 0 #100C08, -1px 1px 0 #100C08, 1px 1px 0 #100C08;
}

.blk-line {
    background-color: #494749;
    height: 1px;
}

hr {
    border-color: black;
}

.btn-custom {
    color: white;
    background-color: black;
}

.horizontal-line {
    background-color: black;
    height: 13px;
}

.horizontal-block {
    background-color: white;
    height: 10px;
    bottom: 0;
}

.social-icon {
    margin-right: auto;
    margin-left: auto;
    width: 10%;
}

#copy-text {
    cursor: pointer
}




@media screen and (max-width: 768px) {

    .container {
        width: 650px;
      }
 
      p {
          margin-top: 5%;
      }
  
  @media screen and (max-width: 640px) {

    .container {
      width: 350px;
    }

    p {
        margin-top: 5%;
    }
  }
  
  @media screen and (max-width: 360px) {

    .container {
      width: 275px;
    }

    p {
        margin-top: 5%;
    }
  }